.camp-table {
    width: 100%;
    overflow-x: auto;
}

.camp-table table {
    min-width: 1000px;
}

.tick {
    height: 25px;
}

td, th {
    text-align: center;
}

.fbtn {
    display: inline-block;
}

#csvfile {
    display: none;
}

.spinner {
    animation: spin 1s infinite linear;
}

#tpreview {
    margin: 10px;
    border: 2px solid gray;
}

#variables {
    font-family: monospace;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(-360deg);}
}

/* Box css */
.box {
    font-size: 1.25rem; /* 20 */
    background-color: #fafafa;
    position: relative;
    padding: 40px 20px;
    cursor: pointer;
}

.box * {
    cursor: pointer;
}

.box label {
    width: 100%;
    text-align: center;
}

.box.has-advanced-upload {
    outline: 2px dashed #aaa;
    outline-offset: -8px;

    -webkit-transition: background-color .15s linear;
    transition: background-color .15s linear;
}

.box.is-dragover {
    outline-color: #bbb;
    background-color: #fff;
}

.box__dragndrop {
    display: none;
}

.box.has-advanced-upload .box__dragndrop {
    display: inline;
}
