<!DOCTYPE HTML>
<html>
    <head>
        {% load static %}
        <title>Cobalt</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <base href="{{ settings.BASE_URL }}" />

        <script src='{% static "lib/jquery-3.3.1.slim.min.js" %}' crossorigin="anonymous"></script>
        <script src='{% static "lib/popper.min.js" %}' crossorigin="anonymous"></script>
        <link rel="stylesheet" href='{% static "lib/bootstrap.min.css" %}' crossorigin="anonymous">
        <link rel="stylesheet" href='{% static "css/custom.css" %}' crossorigin="anonymous">
        <link rel="stylesheet" href='{% static "lib/cobalt.css" %}' crossorigin="anonymous">
        <script src='{% static "lib/bootstrap.min.js" %}' crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="outerdiv">
            <div id="maindiv">
                <a class="header" href="{{ settings.BASE_URL }}"><h1> --- Cobalt --- </h1></a>

                {% block content %}
                {% endblock %}
            </div>

            {% include "footer.html" %}
        </div>

        <script src='{% static "js/common.js" %}'></script>
    </body>
</html>
