{% load static %}

<td>{{ camp.name }}</td>
<td>{{ camp.from_email }}</td>
<td>
    {% if camp.processing %}
        <img class="tick spinner" src='{% static "img/processing.svg" %}' alt="True"/>
    {% else %}
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{ camp.progress_read }}"
                aria-valuemin="0" aria-valuemax="100" style="width:{{ camp.progress_read }}%">
            </div>
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ camp.progress }}"
                aria-valuemin="0" aria-valuemax="100" style="width:{{ camp.progress }}%">
            </div>
        </div>
    {% endif %}
</td>
<td>
    {% if camp.in_progress %}
        <img class="tick spinner" src='{% static "img/processing.svg" %}' alt="True"/>
    {% elif camp.completed %}
        {% if camp.num_sent == camp.num_mails %}
            <img class="tick" src='{% static "img/good.svg" %}' alt="True"/>
        {% else %}
            <img class="tick" src='{% static "img/part.svg" %}' alt="True"/>
        {% endif %}
    {% else %}
        <img class="tick" src='{% static "img/bad.svg" %}' alt="False"/>
    {% endif %}
</td>
<td>{{ camp.num_mails }} ({{ camp.num_sent }}, {{ camp.num_read }})</td>
<td>
    <img src='{% static "img/sendmail.svg" %}' class='image-button'
        title="Send"
        data-toggle="modal" data-target="#authModal"
        {% if camp.processing or camp.in_progress %} disabled {% endif %}
        data-cobalt-url="send/{{ camp.id }}"
        data-cobalt-msg="Sending campaign {{ camp.name }}"/>

    {% spaceless %}
    <a href="campaign/{{ camp.id }}" title="View">
        <img src='{% static "img/preview.svg" %}' class='image-button' />
    </a>

    <img title="Delete" src='{% static "img/delete.svg" %}' class='image-button'
         onclick="$('#del-{{ camp.id }}').trigger('submit')" />
    {% endspaceless %}

    <form class="fbtn" action="del-campaign/{{ camp.id }}" method="POST" id="del-{{ camp.id }}">
        {% csrf_token %}
    </form>
</td>

{% if camp.processing or camp.in_progress %}
<script>
    setTimeout(function() {
        const url = 'campaign-row/{{camp.id}}';
        console.log('Refreshing {{ camp.name }}');
        var xhr = new XMLHttpRequest();
        xhr.onload = function() {
            $('#camp-{{camp.id}}').html(this.responseText);
        }
        xhr.open("GET", url);
        xhr.responseType = "text";
        xhr.send();
    }, 1000);
</script>
{% endif %}
