{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h3>{{ campaign.name }}</h3>
    <h5>{{ campaign.subject }}</h5>
    {% if campaign.bcc %}
    <div>
    <h5 style="font-family: monospace">bcc: {{ campaign.bcc }}</h5>
    {% endif %}

    <div class="camp-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Sent</th>
                    {% if campaign.mailtrack %}
                    <th>Read</th>
                    {% endif %}
                    <th>Tries</th>
                    <th>Error</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for m in mails %}
                {% include "mail_row.html" with m=m campaign=campaign %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include "paginator.html" with has_next=has_next page=page %}

    {% include "modal_preview.html" %}
    {% include "modal_auth.html" %}

{% endblock %}
