{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h3>{{ campaign.name }}</h3>
    <h5>{{ campaign.subject }}</h5>

    <div class="camp-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Sent</th>
                    <th>Read</th>
                    <th>Tries</th>
                    <th>Error</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for m in campaign.mails.all %}
                {% include "mail_row.html" with m=m %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include "modal_preview.html" %}
    {% include "modal_auth.html" %}

{% endblock %}
