{% load static %}

{% if form and form.errors %}
    {% for error, val in form.errors.items %}
        <div class="alert alert-danger">
            <strong>{{ error }} {{ val }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form action="campaign" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Campaign Name:</label>
        <input name="name" type="text" class="form-control" id="name" required>
    </div>

    <div class="form-group">
        <label for="from_email">From E-Mail (format - <b>Your Name &lt;user@site.com&gt;</b>):</label>
        <input name="from_email" type="text" class="form-control" id="from-email" required
                value="{{ request.user.first_name }} {{ request.user.last_name }} <{{ request.user.email }}>">
    </div>

    <div class="form-group">
        <label for="subject">Subject:</label>
        <input name="subject" type="text" class="form-control" id="subject" required>
    </div>

    <div class="checkbox">
        <label>
            <input name="mailtrack" type="checkbox" value="" checked id="mailtrack">
            <span class="cr"><img class="cr-icon" src="{% static 'img/check.svg' %}" /></span>
            Enable mail tracking
        </label>
    </div>

    <div class="checkbox">
        <label>
            <input name="bcc_user" type="checkbox" value="" id="bcc_user">
            <span class="cr"><img class="cr-icon danger" src="{% static 'img/check.svg' %}" /></span>
            Send a copy to <span id="user-email-copy">{{ request.user.email }}</span>
        </label>
    </div>

    <div class="checkbox" id="bcc_from_div">
        <label>
            <input name="bcc_from" type="checkbox" value="" id="bcc_from">
            <span class="cr"><img class="cr-icon danger" src="{% static 'img/check.svg' %}" /></span>
            Send a copy to <span id="from-email-copy">{{ request.user.email }}</span>
        </label>
    </div>

    <div id="mailtrack-copy-caution">
        (caution: opening copies will trigger mail tracking)
    </div>

    <div class="form-group box">
        <div class="box__input">
            <label id="csvname" for="csvfile">Drag or click to choose CSV file</label>
            <input name="csv" type="file" class="form-control-file" required
                   id="csvfile" onchange="openFile(event.target)">
        </div>
    </div>

    <div class="form-group">
        <label for="editor">Available Variables:</label>
        <div id="variables"></div>
    </div>

    <div class="form-group">
        <label for="editor">Email Variable:</label>
        <div id="email-variables"></div>
        <input name="emailvar" type="text" class="form-control" id="emailvar" hidden required>
    </div>

    <div class="form-group">
        <label for="editor">Template:</label>
        <div class="editor" id="editor"></div>
    </div>

    <div class="form-group" style="display: none">
        <textarea name="template" class="form-control" rows="5" id="template" required></textarea>
    </div>

    <div class="form-group">
        <label for="tpreview">Preview:</label>
        <div id="tpreview"></div>
    </div>

    {% csrf_token %}
    <input class="btn btn-success" type="submit" value="Create">
</form>

<script src='{% static "lib/quill.min.js" %}' crossorigin="anonymous"></script>
<link rel="stylesheet" href='{% static "lib/quill.snow.css" %}' crossorigin="anonymous">
<script src='{% static "lib/jquery.csv.min.js" %}' crossorigin="anonymous"></script>

<script src='{% static "js/campaign-new.js" %}'></script>
<script src='{% static "js/dragdrop.js" %}'></script>

<style>
    #mailtrack-copy-caution {
        margin-top: -5px;
        margin-bottom: 15px;
        color: gray;
    }
</style>
