{% load static %}
<td>{{ camp.name }}</td>
<td>{{ camp.from_email }}</td>
<td>
    {% if camp.processing %}
        <img class="tick spinner" src='{% static "mail/processing.png" %}' alt="True"/>
    {% else %}
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ camp.progress }}"
                aria-valuemin="0" aria-valuemax="100" style="width:{{ camp.progress }}%">
                {{ camp.progress }}%
            </div>
        </div>
    {% endif %}
</td>
<td>
    {% if camp.in_progress %}
        <img class="tick spinner" src='{% static "mail/processing.png" %}' alt="True"/>
    {% elif camp.completed %}
        {% if camp.progress == 100 %}
            <img class="tick" src='{% static "mail/good.jpg" %}' alt="True"/>
        {% else %}
            <img class="tick" src='{% static "mail/part.jpg" %}' alt="True"/>
        {% endif %}
    {% else %}
        <img class="tick" src='{% static "mail/bad.jpg" %}' alt="False"/>
    {% endif %}
</td>
<td>{{ camp.num_mails }} ({{ camp.num_sent }})</td>
<td>
    <form class="fbtn" action="/cobalt/mail/send/{{ camp.id }}" method="POST">
        {% csrf_token %}
        <input class="btn btn-success" type="submit" value="Send" {% if camp.processing or camp.in_progress %} disabled {% endif %}>
    </form>
    <a class="btn btn-primary" href="/cobalt/mail/campaign/{{ camp.id }}">View</a>
    <form class="fbtn" action="/cobalt/mail/del-campaign/{{ camp.id }}" method="POST">
        {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="Delete">
    </form>
</td>

{% if camp.processing or camp.in_progress %}
<script>
    setTimeout(function() {
        const url = '/cobalt/mail/campaign-row/{{camp.id}}';
        console.log('Refreshing {{ camp.name }}');
        var xhr = new XMLHttpRequest();
        xhr.onload = function() {
            $('#camp-{{camp.id}}').html(this.responseText);
        }
        xhr.open("GET", url);
        xhr.responseType = "text";
        xhr.send();
    }, 1000);
</script>
{% endif %}
