<!DOCTYPE HTML>
<html>
    <head>
        {% load static %}
        <title>Cobalt</title>
        <script src='{% static "mail/jquery-3.3.1.slim.min.js" %}' crossorigin="anonymous"></script>
        <script src='{% static "mail/popper.min.js" %}' crossorigin="anonymous"></script>
        <link rel="stylesheet" href='{% static "mail/bootstrap.min.css" %}' crossorigin="anonymous">
        <link rel="stylesheet" href='{% static "mail/custom.css" %}' crossorigin="anonymous">
        <script src='{% static "mail/bootstrap.min.js" %}' crossorigin="anonymous"></script>
        <script src='{% static "mail/jquery.csv.min.js" %}' crossorigin="anonymous"></script>
        <script src='{% static "mail/quill.min.js" %}' crossorigin="anonymous"></script>
        <link rel="stylesheet" href='{% static "mail/quill.snow.css" %}' crossorigin="anonymous">
    </head>
    <body>
        <div style="margin: 30px">
            <a class="header" href="/"><h1> --- Cobalt --- </h1></a>

            {% if form and form.errors %}
                {% for error, val in form.errors.items %}
                    <div class="alert alert-danger">
                        <strong>{{ error }} {{ val }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            <form action="/campaign" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input name="name" type="text" class="form-control" id="name">
                </div>

                <div class="form-group">
                    <label for="from_email">From E-Mail (format - <b>Your Name &lt;user@site.com&gt;</b>):</label>
                    <input name="from_email" type="text" class="form-control" id="from_email">
                </div>

                <div class="form-group">
                    <label for="subject">Subject:</label>
                    <input name="subject" type="text" class="form-control" id="subject">
                </div>

                <div class="form-group box">
                    <div class="box__input">
                        <label id="csvname" for="csvfile">Drag or click to choose CSV file</label>
                        <input name="csv" type="file" class="form-control-file" id="csvfile" onchange="openFile(event.target)">
                    </div>
                </div>

                <div class="form-group">
                    <label for="editor">Available Variables:</label>
                    <div id="variables"></div>
                </div>

                <div class="form-group">
                    <label for="editor">Template:</label>
                    <div class="editor" id="editor"></div>
                </div>

                <div class="form-group" style="display: none">
                    <textarea name="template" class="form-control" rows="5" id="template"></textarea>
                </div>

                <div class="form-group">
                    <label for="tpreview">Preview:</label>
                    <div id="tpreview"></div>
                </div>

                {% csrf_token %}
                <input class="btn btn-warning" type="submit" value="Create">
            </form>
        </div>

        <div class="camp-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Campaign Name</th>
                        <th>From E-Mail</th>
                        <th>Progress</th>
                        <th>Completed</th>
                        <th>Count (Sent)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for camp in campaigns %}
                    <tr id="camp-{{camp.id}}">
                        {% include "campaign_row.html" with camp=camp %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% include "footer.html" %}

        <script>
            // {% verbatim %}
            var toolbarOptions = [
                ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme

                ['clean']
            ];

            var options = {
                modules: {
                    toolbar: toolbarOptions
                },
                placeholder: 'Write mail content here ...',
                readOnly: false,
                theme: 'snow'
            };
            var editor = new Quill('.editor', options);
            var csventry = {};

            function textChange() {
                var html = editor.root.innerHTML;
                for (var key in csventry) {
                    if (csventry.hasOwnProperty(key)) {
                        var re = new RegExp(`{{${key}}}`, 'g');
                        html = html.replace(re, csventry[key]);
                    }
                }
                styles = `<style> li, p { white-space: pre-wrap; margin: 0; padding: 0; }
                ol, ul { margin-top: 0; margin-bottom:0 } </style>`;

                $('#tpreview').html(styles + html);
                $('#template').val(styles + editor.root.innerHTML);
            }

            editor.on('text-change', function(delta, oldDelta, source) {
                textChange();
            });

            function addvar(variable, event) {
                event.preventDefault();
                editor.insertText(editor.getSelection().index, `{{${variable}}}`);
            }

            var openFile = function(input) {
                var reader = new FileReader();
                reader.onload = function(){
                    csventry = ($.csv.toObjects(reader.result))[0];
                    html = '';

                    for (var key in csventry) {
                        html += `<button class='btn varbtn' onclick="addvar('${key}', event)">${key}</button>\n`
                    }

                    $('#variables').html(html);
                    console.log(csventry);
                    textChange();
                };
                reader.readAsText(input.files[0]);
                $('#csvname').text(input.files[0].name);
            };
            // {% endverbatim %}
        </script>

        <script src='{% static "mail/dragdrop.js" %}' crossorigin="anonymous"></script>
    </body>
</html>
