:root {
    --theme-color: var(--blue);
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

#maindiv {
    margin: 30px;
    margin-bottom: 0;
}

#outerdiv {
    min-height: calc(100vh - 90px);
    position: relative;
    padding-bottom: 60px;
}

a.header, a.header * {
    text-decoration: none;
    color: black;
    font-family: 'Metal Mania', cursive;
    white-space: nowrap;
    outline: none;
    user-select: none;
    font-size: 1.9em;
    width: 99%;
}
a.header::hover { text-decoration: none; }
a.header {
    text-align: center;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer * {
    margin-bottom: 0;
}

.camp-table {
    width: 100%;
    overflow-x: auto;
}

.camp-table table {
    min-width: 1000px;
    margin-top: 20px;
}

.tick {
    height: 25px;
}

th {
    background-color: var(--theme-color);
    color: white;
}

td, th {
    text-align: center;
}

.fbtn {
    display: inline-block;
}

.var-btn {
    margin-top: 4px;
}

#csvfile {
    display: none;
}

.spinner {
    animation: spin 1s infinite linear;
}

#tpreview {
    padding: 10px;
    border: 2px solid #ddd;
}

#variables, #email-variables {
    font-family: monospace;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.image-button {
    height: 30px;
    cursor: pointer;
    filter: grayscale(100%);
    outline: none;
    user-select: none;
}
.image-button:hover {
    filter: grayscale(0);
}
.image-button.danger:hover {
    filter: sepia(1) hue-rotate(-70deg) saturate(8) grayscale(0);
}

#new-campaign {
    background-color: #fcfcfc;
    padding: 30px;
}

/* Quilljs */
.ql-editor{
    min-height:150px;
    background-color: white;
}

#tpreview {
    min-height: 50px;
    margin-bottom: 20px;
    background-color: white;
}
