body {
    background-color: var(--theme-color);
}

#content-main {
    margin: 0 auto;
    margin-top: 40px;
    width: 375px;
    max-width: 100%;
    background-color: rgb(233, 239, 239);
    padding: 30px;
    border-radius: 6px;
}

.errornote {
    color: red;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 0;
    margin-bottom: 15px;
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 6px;
}

input[type=submit] {
    font-weight: bold;
    background-color: var(--theme-color);;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    filter: brightness(1.02);
}

.header * {
    color: white !important;
}
